
/* FOOTER */
footer {
  text-align: center;
  padding: 2rem;
  font-size: .9rem;
  color: var(--gray);
}

.main-footer {
  text-align: center;
  padding: 2rem 1rem;
  background-image: url(../imgs/header.png);
  color: #fff;
}

.main-footer p,
.main-footer small {
  margin: 0;
}

/*marca*/
.author {
  color: var(--white);
  font-weight: 800;
  font-size: 1rem;
  transition: .3s ease;
}

.author:hover {
  color: var(--primary);
  letter-spacing: 1px;
}

.author strong {
  color: rgb(156, 8, 99);
  font-size: 1.3rem;
  font-weight: 900;
}
