#theme-toggle{

    border: none;
    cursor: pointer;
   background-color: transparent;
    font-size: 1.4rem;
    padding: 0.25rem 0.5rem;
    line-height: 1;
}

@media (max-width: 768px) {
    #theme-toggle{
        display: block;
    }
}


.fa-moon{
color: rgb(94, 68, 244);
}